This notebook is for handling the data and extracting the relevant features:

- moral features
- affective features (emotion, sentiment)
- liwc features
- distributional representations

Close inspection of the dataset revealed that all and only instances
of real news were introduced by the words ”WASHINGTON (Reuters)”, indicating the place and name
of the news agency that has provided the news articl

## Imports

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from utils.text_processing_functions import *
import nltk

In [2]:
nltk.download('wordnet') #English

[nltk_data] Downloading package wordnet to /home/sergio/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

## Read data

In [3]:
fakenewsnet = pd.read_csv('fakenewsnet.csv')

In [5]:
fakenewsnet.dropna(inplace=True)

In [6]:
fakenewsnet.head(5)

   Unnamed: 0                                               text  label
0           0  Famous dog killed in spot she waited a year fo...      0
1           1  A Syrian family leaves the area following a re...      0
2           2  Donald Trump constantly talks about how he ll ...      0
3           3  McCain Criticized Trump for Arpaio s Pardon Sh...      0
4           4  Ahmad Khan Rahami is pictured in an undated ph...      0

In [8]:
fakenewsnet.tail(5)

     Unnamed: 0                                               text  label
367         367   He has a long record of engaging in racist be...      0
368         368  The New York Times has joined a number of othe...      0
369         369  80510 SHARES Facebook Twitter Reddit Stumbleup...      0
370         370  A 22 year old Muslim man from Afghanistan prou...      0
371         371  On Monday Donald Trump fulfilled his duty as a...      0

## Preprocess data

In [9]:
fakenewsnet['text'] = fakenewsnet['text'].apply(lambda x: remove_urls(x))
fakenewsnet['text'] = fakenewsnet['text'].apply(lambda x: remove_html(x))

In [10]:
fakenewsnet['text'] = fakenewsnet['text'].apply(lambda x: chat_words_conversion(x))

In [11]:
fakenewsnet['text'] = fakenewsnet['text'].apply(lambda x: expand_contractions(x))

In [12]:
fakenewsnet.reset_index(inplace=True)

In [13]:
fakenewsnet

,index,Unnamed: 0,text,label
0,0,0,Famous dog killed in spot she waited a year fo...,0
1,1,1,A Syrian family leaves the area following a re...,0
2,2,2,Donald Trump constantly talks about how he ll ...,0
3,3,3,McCain Criticized Trump for Arpaio s Pardon Sh...,0
4,4,4,Ahmad Khan Rahami is pictured in an undated ph...,0
...,...,...,...,...
367,367,367,He has a long record of engaging in racist beh...,0
368,368,368,The New York Times has joined a number of othe...,0
369,369,369,80510 SHARES Facebook Twitter Reddit Stumbleup...,0
370,370,370,A 22 year old Muslim man from Afghanistan prou...,0
371,371,371,On Monday Donald Trump fulfilled his duty as a...,0

In [14]:
fakenewsnet.to_csv('fakenewsnet.csv')